body {

}

/** HEADER **/
.navbar-default {
	background-color: #e7e7e7;
}
#nav-list {
	margin: 0px;
}
.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
.navbar-brand h1 { 
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color: #222;
}
#nav-list li:nth-child(1) {
	border-top: 1px solid #000000;
}
#nav-list li {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #000000;
	  font-weight: bold;

}
#collapsable-nav li{
	background-color: #FFFFFF;
}

/** BODY **/
.menu-item-tile {
	background-color: #e7e7e7;
	/*height: 1000px;*/
}
.food-section {
	
}
